/**
 * MR -> show: Automerge widget
 *
 */
.mr-state-widget {
  background: $background-color;
  color: $gl-gray;
  border: 1px solid $border-color;
  @include border-radius(2px);

  form {
    margin-bottom: 0;
    .clearfix {
      margin-bottom: 0;
    }
  }

  .accept-merge-holder {
    .accept-action {
      display: inline-block;
      float: left;

      .accept_merge_request {
        &.ci-pending,
        &.ci-running {
          @include btn-orange;
        }

        &.ci-skipped,
        &.ci-failed,
        &.ci-canceled,
        &.ci-error {
          @include btn-red;
        }
      }
    }

    .accept-control {
      display: inline-block;
      float: left;
      margin: 0;
      margin-left: 20px;
      padding: 5px;
      padding-top: 12px;
      line-height: 20px;

      // text in-between buttons
      &.inbetween-text {
        margin-left: 0px;  // disable `margin-left: 20px` in parent
        margin-right: 7px; // compensate for margin-right in btn-grouped
      }

      &.right {
        float: right;
        a {
          color: $gl-gray;
        }
      }

      .remove_source_checkbox {
        margin: 0;
      }
    }
  }

  .ci_widget {
    border-bottom: 1px solid #eef0f2;

    i {
      margin-right: 4px;
    }

    &.ci-success {
      color: $gl-success;
    }

    &.ci-skipped {
      background-color: #eee;
      color: #888;
    }

    &.ci-pending,
    &.ci-running {
      color: $gl-warning;
    }

    &.ci-failed,
    &.ci-canceled,
    &.ci-error {
      color: $gl-danger;
    }

    a.monospace {
      color: inherit;
    }
  }

  .mr-widget-body,
  .ci_widget,
  .mr-widget-footer {
    padding: $gl-padding;
  }

  .normal {
    color: #5c5d5e;
  }

  .mr-widget-body {
    h4 {
      font-weight: 600;
      font-size: 17px;
      margin: 5px 0;
      color: #313236;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .mr-widget-footer {
    border-top: 1px solid #EEE;
  }

  .ci-coverage {
    float: right;
  }
}

.mr_source_commit,
.mr_target_commit {
  .commit {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    &:hover {
      background: none;
    }
  }
}

.label-branch {
  color: #313236;
  font-family: $monospace_font;
  font-weight: bold;
  overflow: hidden;
  font-size: 90%;
  margin: 0 3px;
}

.mr-list {
  .merge-request {
    padding: 10px 15px;
    position: relative;

    .merge-request-title {
      margin-bottom: 5px;
      font-size: $list-font-size;
      font-weight: 600;
    }

    .merge-request-info {
      color: $gl-gray;
    }

  }

  .merge-request-labels {
    display: inline-block;
  }

  .merge-request-no-comments {
    opacity: 0.5;
  }
}

.merge-request-angle {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  line-height: 1.1;
}

// hide mr close link for inline diff comment form
.diff-file .close-mr-link,
.diff-file .reopen-mr-link {
  display: none;
}

.merge-request-form .select2-container {
  width: 250px !important;
}

#modal_merge_info .modal-dialog {
  width: 600px;

  .btn-clipboard {
    @extend .pull-right;

    margin-right: 20px;
    margin-top: 5px;
    position: absolute;
    right: 0;
  }
}

.mr-source-target {
  line-height: 31px;
}

.disabled-comment-area {
  padding: 16px 0;

  .disabled-profile {
    width: 40px;
    height: 40px;
    background: $border-gray-dark;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
  }

  .disabled-comment {
    background: $gray-light;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    border-radius: 4px;
    border: 1px solid $border-gray-normal;
    padding-top: 90px;
    text-align: center;
    right: 20px;
    position: absolute;
    left: 70px;
    margin-bottom: 20px;

    span {
      color: #B2B2B2;

      a {
        color: $md-link-color;
      }
    }
  }
}
