- status_class = @ci_commit ? " ci-#{@ci_commit.status}" : nil

= form_for [:merge, @project.namespace.becomes(Namespace), @project, @merge_request], remote: true, method: :post, html: { class: 'accept-mr-form js-requires-input' } do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  .accept-merge-holder.clearfix.js-toggle-container
    .clearfix
      .accept-action
        - if @ci_commit && @ci_commit.active?
          %span.btn-group
            = button_tag class: "btn btn-create js-merge-button merge_when_build_succeeds" do
              Merge When Build Succeeds
            = button_tag class: "btn btn-success dropdown-toggle", 'data-toggle' => 'dropdown' do
              %span.caret
              %span.sr-only
                Select Merge Moment
            %ul.js-merge-dropdown.dropdown-menu.dropdown-menu-right{ role: 'menu' }
              %li
                = link_to "#", class: "merge_when_build_succeeds" do
                  = icon('check fw')
                  Merge When Build Succeeds
              %li
                = link_to "#", class: "accept_merge_request" do
                  = icon('warning fw')
                  Merge Immediately
        - else
          = f.button class: "btn btn-create btn-grouped js-apply-button accept_merge_request accept_merge_request_apply #{status_class}" do
            - if @merge_request.commits.size == 1
              Apply Patch
            - else
              Apply Patches

          - if @merge_request.commits.size > 1
            // do we really need accept-control.inbetween-text? make it simpler?
            .accept-control.inbetween-text
              or
            = f.button class: "btn btn-create btn-grouped js-merge-button accept_merge_request_merge #{status_class}" do
              Merge as Topic
      - if @merge_request.can_remove_source_branch?(current_user)
        .accept-control.checkbox
          = label_tag :should_remove_source_branch, class: "remove_source_checkbox" do
            = check_box_tag :should_remove_source_branch
            Remove source branch
      .accept-control.right
        = link_to "#", class: "modify-merge-commit-link js-toggle-button" do
          = icon('edit')
          Modify #{@merge_request.commits.size > 1 ? "merge" : "commit"} message
    .js-toggle-content.hide.prepend-top-default
      = render 'shared/commit_message_container', params: params,
          label_text: @merge_request.commits.size > 1 ? "Merge message" : "Commit message",
          text: @merge_request.merge_commit_message,
          rows: 14, hint: true

    = hidden_field_tag :merge_when_build_succeeds, "", autocomplete: "off"
    = hidden_field_tag :apply_patches, ""

  :javascript
    $('.accept-mr-form').on('ajax:send', function() {
      $(".accept-mr-form :input").disable();
    });

    $('.accept_merge_request_apply').on('click', function() {
      $("#apply_patches").val("on");
      $('.js-apply-button').html("<i class='fa fa-spinner fa-spin'></i> Apply in progress");
    });

    $('.accept_merge_request_merge').on('click', function() {
      $("#apply_patches").val("off");
      $('.js-merge-button').html("<i class='fa fa-spinner fa-spin'></i> Merge in progress");
    });

    $('.merge_when_build_succeeds').on('click', function() {
      $("#merge_when_build_succeeds").val("1");
    });

    $('.js-merge-dropdown a').on('click', function(e) {
      e.preventDefault();
      $(this).closest("form").submit();
    });
