.form-group.commit_message-group
  - nonce = SecureRandom.hex
  = label_tag "commit_message-#{nonce}", class: 'control-label' do
    = local_assigns[:label_text] || "Commit message"
  .col-sm-10
    .commit-message-container
      .max-width-marker
      = text_area_tag 'commit_message',
          (params[:commit_message] || local_assigns[:text]),
          class: 'form-control js-commit-message js-quick-submit', placeholder: local_assigns[:placeholder],
          required: true, rows: (local_assigns[:rows] || 3),
          id: "commit_message-#{nonce}"
    - if local_assigns[:hint]
      %p.hint
        Try to keep the first line under 52 characters
        and the others under 72.
