!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_charcoal.login-page.application.navless
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        .row
          .col-sm-5.pull-right
            = yield
          .col-sm-7.brand-holder.pull-left
            %h1
              = brand_title
            - if brand_item
              = brand_image
              = brand_text
            - else
              %h3 Open source software to collaborate on code

              %p
                Manage git repositories with fine grained access controls that keep your code secure.
                Perform code reviews and enhance collaboration with merge requests.
                Each project can also have an issue tracker and a wiki.

            - if extra_sign_in_text.present?
              = markdown(extra_sign_in_text)

    %hr
    .container
      .footer-links
        = link_to "Explore", explore_root_path
        = link_to "Help", help_path
        = link_to "About GitLab", "https://about.gitlab.com/"
        = link_to "About Nexedi", "http://www.nexedi.com/"
        - if should_render_icp?
          = render_icp
